*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@custom-media --s (max-width: 800px);
@custom-media --m (min-width: 800px);
@custom-media --l (min-width: 1200px);

body{
  font: 12pt Arial;
  margin: 3rem;
}

#app-root{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;


  & #savebtn{
    margin-top: 40px;
  }
}

.drop-list{
  margin-bottom: 20px;
  width: 100%;
}


